<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Haberler</title>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
<div class="page-header">
<h1 style="text-align:center;">Haberler</h1>
</div>

{% for post in posts %}
    <h1 style="color:#ff0000;">{{ post.title }}</h1>
    <h3>{{ post.text|linebreaksbr }}</h3>
    <h6>published: {{ post.published_date }}<h6>

{% endfor %}

</body>
</html>